[user]
    name = Jeremy Perret
    email = jeremy@devster.org
[color]
    ui = true
[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit
    wdiff = diff --word-diff
    s = status
    ci = commit
    co = checkout
    br = branch
    oups = !git add -A . && git commit --amend && git push --force-with-lease
[push]
    default = simple
